button.btn  {
    background-color: #ff9b00;
    border:#ff9b00;
}

.btn:hover {
    background-color: #ED8E00 !important;
    border: #ED8E00;
}

a {
    color: #1CA599;
}
a:hover {
    color: #006D77;
}

.about-icon {
    color: #1CA599;
}

.signup-img {
    width: 100%; 
    height: 500px;
    object-fit: cover
}

.svg-icon {
    fill: #eee;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}